

{% extends 'frontend/base.html.twig' %}
{% block content %}





<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.blue-orange.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">




<div class="body_wrapper">
    <section class="breadcrumb_area"
             style="background-image: url('{{ asset('image/feedbacks/Img-01.jpg') }}'); background-position:  center center; background-repeat: no-repeat; background-size: cover;">

        <img class="breadcrumb_shap" src="{{ asset('image/feedbacks/banner_bg.png') }}" alt="">
        <div class="container">
            <div class="breadcrumb_content text-center">
                <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Liste Des Commandes</h1>
                <p class="f_400 w_color f_size_16 l_height26">
                    Vous allez pouvoir consulter votre liste des commande et réclamer <br> que vous souhaitez plus rapidement.
                </p>
            </div>
        </div>
    </section>







    <div class="album py-5 bg-light">
        <div class="container">



            <div class="row s_service_info">
                <br>
                {% for quantite in quantite %}
                    <div class="col-lg-12 col-sm-6">
                        <div class="s_service_item wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="solid_overlay"></div>
                            <div class="icon icon_1">
                                <i class="fa fa-user"></i>
                            </div>
                            <h5 class="f_p f_size_20 f_600 t_color">Commande numero {{ quantite.getIdCommande() }}</h5>
                            <p class="l_height28">Adresse Destination : {{ quantite.getDate()  |date}}</p>
                            <p class="l_height28">Adresse Destination : {{ quantite.getAdresseDest() }}</p>
                            <a href="{{ path('display_categorie',{'nom':'reclamation'})}} " class="learn_btn_two">Réclamer <i class="ti-arrow-right"></i></a>

                        </div>
                    </div>
                    <br>
                {% endfor %}








            </div>





            <!-- jQuery is necessary -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

            <script type="text/javascript">
                jQuery(document).ready(function() {
                    var searchRequest = null;
                    $("#search").keyup(function() {
                        var minlength = 3;
                        var that = this;
                        var value = $(this).val();
                        var entitySelector = $("#entitiesNav").html('');
                        if (value.length >= minlength ) {
                            if (searchRequest != null)
                                searchRequest.abort();
                            searchRequest = $.ajax({
                                type: "GET",
                                url: "{{ path('ajax_search') }}",
                                data: {
                                    'q' : value
                                },
                                dataType: "text",
                                success: function(msg){
                                    //we need to check if the value is the same
                                    if (value==$(that).val()) {
                                        var result = JSON.parse(msg);
                                        $.each(result, function(key, arr) {
                                            $.each(arr, function(id, value) {
                                                if (key == 'entities') {
                                                    if (id != 'error') {
                                                        console.log(value[1])
                                                        entitySelector.append('<li class="list-group-item">'+value[1]+'' +
                                                            '<a href="/ProjetWebSymfony/test/web/app_dev.php/serviceApresVentes/detailReclamation/'+id+'")'+'' +
                                                            '<img src="uploads/reclamation_image/'+value[0]
                                                            +'"style="width: 50px; height: 50px;"/>' +
                                                            ''+'</a></li>');
                                                    } else {
                                                        entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                    }
                                                }
                                            });
                                        });
                                    }
                                }
                            });
                        }
                    });
                });
            </script>
            <script>
                $(document).ready(function(){

                    $(".btn1").click(function(){
                        $("h1").slideUp();
                    });

                    $(".btn2").click(function(){
                        $("h1").slideDown();
                    });

                    $(".btn3").click(function(){
                        $("h1").slideToggle();
                    });

                });
            </script>

            <!-- Square card -->





            {#</div>#}






            <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>



            {% endblock %}














