{%  extends 'frontend/base.html.twig' %}

{% block content %}



        <div class="row">
            <div class="content col-sm-12">
                <div class="customtab">
                    <h3 class="productblock-title">Produit</h3>
                     </div>

                <div id="tab-furniture" class="tab-content">
                    <div class="box">
                        <div id="special-slidertab" class="row owl-carousel product-slider">
                            {% for Produit in listproduit %}
                            <div class="item">
                                <div class="product-thumb">
                                    <div> <a href="{{ path('detail',{'id':Produit.id}) }}"> <img src="{{ asset('uploadsProduit/produit_image/' ~ Produit.photo) }}"  title="iPod Classic" /> </a>

                                          
                                    </div>
                                    <div class="caption product-detail">
                                        <h4 class="product-name"><a href="{{ path('detail',{'id':Produit.id}) }}" title="Casual Shirt With Ruffle Hem">{{Produit.libelle}}</a></h4>
                                        <p class="price product-price">dt{{Produit.prix}}</p>

                                    </div>
                                </div>


                            </div>
                            {% endfor%}
                        </div>
                    </div>
                </div>








{% endblock %}