{% extends 'frontend/base.html.twig' %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ asset('style.css') }}" />



    <section class="blog_area sec_pad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 blog_sidebar_left">
                    <div class="blog_single mb_50">
                        <img class="img-fluid" src="{{asset('uploads/reclamation_image/'~image) }}" alt="">
                        <div class="blog_content">
                            <div class="post_date">
                                <h2>{{date|date}} <span>March</span></h2>
                            </div>
                            <div class="entry_post_info">
                                By: <a href="#">Admin</a>
                                <a href="#">2 Comments</a>
                                <a href="#">SaasLand</a>
                            </div>
                            <a href="#">
                                <h5 class="f_p f_size_20 f_500 t_color mb-30">{{ objet }}.</h5>
                            </a>
                            <blockquote class="blockquote mb_40">

                            <p class="f_400 mb-30">{{ descripion }}</p>
                            </blockquote>


                        </div>
                    </div>
                    <div class="blog_post">
                        <div class="widget_title">
                            <h3 class="f_p f_size_20 t_color3">Réclamation commune</h3>
                            <div class="border_bottom"></div>
                        </div>
                        <div class="row">
                            {% for rec in autres %}
                            <div class="col-lg-4 col-sm-6">
                                <div class="blog_post_item">
                                    <div class="blog_img">
                                        <img src="{{ asset('uploads/reclamation_image / '~ rec.image) }}" alt="">
                                    </div>
                                    <div class="blog_content">
                                        <div class="entry_post_info">
                                            <a href="#">March 14, 2018</a>
                                        </div>
                                        <a href="#">
                                            <h5 class="f_p f_size_16 f_500 t_color">Why I say old chap that.</h5>
                                        </a>
                                        <p class="f_400 mb-0">Harry bits and bleeding crikey argy-bargy...</p>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                        </div>
                    </div>
                    <div class="widget_title mt_100">
                        <h3 class="f_p f_size_20 t_color3">2 Comment</h3>
                        <div class="border_bottom"></div>
                    </div>
                    <ul class="comment-box list-unstyled mb-0">
                        <li class="post_comment">
                            <div class="media post_author mt_60">
                                <div class="media-left">
                                    <img class="rounded-circle" src="img/blog-grid/comment1.png" alt="">
                                    <a href="#" class="replay"><i class="ti-share"></i></a>
                                </div>
                                <div class="media-body">
                                    <h5 class="f_p t_color3 f_size_18 f_500">Fletch Skinner</h5>
                                    <h6 class="f_p f_size_15 f_400 mb_20">Just Now</h6>
                                    <p>Tinkety tonk old fruit Harry gormless morish Jeffrey what a load of rubbish burke what a plonker hunky-dory cor blimey guvnor.!</p>
                                </div>
                            </div>
                            <ul class="reply-comment list-unstyled">
                                <li class="post-comment">
                                    <div class="media post_author comment-content">
                                        <div class="media-left">
                                            <img class="rounded-circle" src="img/blog-grid/comment2.png" alt="">
                                            <a href="#" class="replay"><i class="ti-share"></i></a>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="f_p t_color3 f_size_18 f_500">Hans Down</h5>
                                            <h6 class="f_p f_size_15 f_400 mb_20">44 mins ago</h6>
                                            <p>Dropped a clanger up the kyver easy peasy vagabond victoria sponge Charles tinkety tonk old fruit argy.!</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="widget_title mt_100">
                        <h3 class="f_p f_size_20 t_color3">Leave a Comment</h3>
                        <div class="border_bottom"></div>
                    </div>
                    <form class="get_quote_form row" action="#" method="post">
                        <div class="col-md-12 form-group">
                            <textarea class="form-control message" placeholder="Comment"></textarea>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" id="name" placeholder="Name">
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="website" placeholder="Website (optional)">
                        </div>
                        <div class="col-md-12"><button class="btn btn_three btn_hover f_size_15 f_500" type="submit">Post Comment</button></div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="blog-sidebar">
                        <div class="widget sidebar_widget widget_search">
                            <form action="#" class="search-form input-group">
                                <input type="search" class="form-control widget_input" placeholder="Search">
                                <button type="submit"><i class="ti-search"></i></button>
                            </form>
                        </div>
                        <div class="widget sidebar_widget widget_recent_post mt_60">
                            <div class="widget_title">
                                <h3 class="f_p f_size_20 t_color3">Recent posts</h3>
                                <div class="border_bottom"></div>
                            </div>
                            <div class="media post_item">
                                <img src="img/blog-grid/post_1.jpg" alt="">
                                <div class="media-body">
                                    <a href="#">
                                        <h3 class="f_size_16 f_p f_400">Proin gravi nibh velit auctor aliquet aenean.</h3>
                                    </a>
                                    <div class="entry_post_info">
                                        By: <a href="#">Admin</a>
                                        <a href="#">March 14, 2018</a>
                                    </div>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/blog-grid/post_2.jpg" alt="">
                                <div class="media-body">
                                    <a href="#">
                                        <h3 class="f_size_16 f_p f_400">Proin gravi nibh velit auctor aliquet aenean.</h3>
                                    </a>
                                    <div class="entry_post_info">
                                        By: <a href="#">Admin</a>
                                        <a href="#">March 14, 2018</a>
                                    </div>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/blog-grid/post_3.jpg" alt="">
                                <div class="media-body">
                                    <a href="#">
                                        <h3 class="f_size_16 f_p f_400">Proin gravi nibh velit auctor aliquet aenean.</h3>
                                    </a>
                                    <div class="entry_post_info">
                                        By: <a href="#">Admin</a>
                                        <a href="#">March 14, 2018</a>
                                    </div>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/blog-grid/post_4.jpg" alt="">
                                <div class="media-body">
                                    <a href="#">
                                        <h3 class="f_size_16 f_p f_400">Proin gravi nibh velit auctor aliquet aenean.</h3>
                                    </a>
                                    <div class="entry_post_info">
                                        By: <a href="#">Admin</a>
                                        <a href="#">March 14, 2018</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget sidebar_widget widget_categorie mt_60">
                            <div class="widget_title">
                                <h3 class="f_p f_size_20 t_color3">Categories</h3>
                                <div class="border_bottom"></div>
                            </div>
                            <ul class="list-unstyled">
                                <li> <a href="#"><span>Fashion</span><em>(54)</em></a> </li>
                                <li> <a href="#"><span>Food for thought</span><em>(83)</em></a> </li>
                                <li> <a href="#"><span>Gaming</span><em>(96)</em></a> </li>
                                <li> <a href="#"><span>Music</span><em>(38)</em></a> </li>
                                <li> <a href="#"><span>Uncategorized</span><em>(44)</em></a> </li>
                                <li> <a href="#"><span>SaasLand</span><em>(44)</em></a> </li>
                                <li> <a href="#"><span>Project Management</span><em>(44)</em></a> </li>
                                <li> <a href="#"><span>Wireframing</span><em>(44)</em></a> </li>
                            </ul>
                        </div>
                        <div class="widget sidebar_widget widget_tag_cloud mt_60">
                            <div class="widget_title">
                                <h3 class="f_p f_size_20 t_color3">Tags</h3>
                                <div class="border_bottom"></div>
                            </div>
                            <div class="post-tags">
                                <a href="#">SaasLand</a>
                                <a href="#">Web Design</a>
                                <a href="#">Saas</a>
                                <a href="#">Cooling System</a>
                                <a href="#">Corporate</a>
                                <a href="#">Software</a>
                                <a href="#">Landing</a>
                                <a href="#">Wheels</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}