{% extends 'frontend/base.html.twig' %}

{% block content %}






    <div class="content-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-content">
                        <div class="commerce">

                            <table class="table shop_table cart">
                                <thead>
                                <tr>
                                    <th class="product-remove hidden-xs">&nbsp;</th>

                                    <th class="product-thumbnail hidden-xs">&nbsp;</th>
                                    <th class="product-name">Titre</th>
                                    <th class="product-price text-center">Prix</th>
                                    <th class="product-quantity text-center">Quantity</th>
                                    <th class="product-subtotal text-center hidden-xs">Total</th>
                                </tr>
                                </thead>
                                <tbody>


                                {% for item in tab %}
                                    <tr class="cart_item">
                                        <td class="product-remove hidden-xs">
                                            <a href="{{ path('remove' , {'reference':item.produit.id}) }}" class="remove" title="Remove this item">&times;</a>
                                        </td>
                                        <td class="product-thumbnail hidden-xs">
                                            <a href="shop-detail-1.html">
                                            </a>
                                        </td>
                                        <td class="product-name">



                                            <a href="shop-detail-1.html">{{ item.produit.id}}</a>

                                        </td>
                                        <td class="product-price text-center">
                                            <span class="amount">{{ item.produit.getPrix() }} Dt </span>
                                        </td>
                                        <td class="product-quantity text-center">
                                            <div class="quantity">
                                                <input type="number" step="1" min="0" name="qunatity" value="{{ item.quantite }}" title="Qty" class="input-text qty text" size="4"/>
                                            </div>
                                        </td>
                                        <td class="product-subtotal hidden-xs text-center">
                                            <span class="amount">{{ item.produit.prix * item.quantite }}</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <input  type="submit" name="submit"  value="Valider">
                                {#                                {{ form_widget(form) }}#}
                                <style>
                                    form input {
                                        margin:15px 0;
                                        padding:15px 10px;
                                        width:100%;
                                        outline:none;
                                        border:1px solid #bbb;
                                        border-radius:20px;
                                        display:inline-block;
                                        -webkit-box-sizing:border-box;
                                        -moz-box-sizing:border-box;
                                        box-sizing:border-box;
                                        -webkit-transition:0.2s ease all;
                                        -moz-transition:0.2s ease all;
                                        -ms-transition:0.2s ease all;
                                        -o-transition:0.2s ease all;
                                        transition:0.2s ease all;
                                    }

                                    form input[type=text]:focus,
                                    form input[type="password"]:focus {
                                        border-color:cornflowerblue;
                                    }

                                    input[type=submit] {
                                        padding:15px 50px;
                                        width:auto;
                                        background: #0088cc;
                                        border:none;
                                        color:white;
                                        cursor:pointer;
                                        display:inline-block;
                                        float:right;
                                        clear:right;
                                        -webkit-transition:0.2s ease all;
                                        -moz-transition:0.2s ease all;
                                        -ms-transition:0.2s ease all;
                                        -o-transition:0.2s ease all;
                                        transition:0.2s ease all;
                                    }

                                    input[type=submit]:hover {
                                        opacity:0.8;
                                    }

                                    input[type="submit"]:active {
                                        opacity:0.4;
                                    }
                                </style>
                                {#                                {{ form_end(form) }}#}
                                <tr>
                                    <td colspan="6" class="actions">
                                        <div class="coupon">
                                            <label for="coupon_code">Coupon:</label>
                                            <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Coupon code"/>
                                            <input type="submit" class="button rounded" name="apply_coupon" value="Apply Coupon"/>
                                        </div>
                                        <input type="submit" class="button update-cart-button rounded" name="update_cart" value="Update Cart"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="cart-collaterals">
                                <div class="cart_totals">
                                    <h2>Cart Totals</h2>
                                    <table>
                                        <tr class="cart-subtotal">
                                            <th>Subtotal</th>
                                            <td><span class="amount">&#36;56.00</span></td>
                                        </tr>
                                        <tr class="shipping">
                                            <th>Shipping</th>
                                            <td><span class="amount">&#36;0.00</span></td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Total</th>
                                            <td><strong><span class="amount">{{ total }}</span></strong></td>
                                        </tr>
                                    </table>


                                </div>
                                <div class="cross-sells">
                                    <h2>You may be interested in&hellip;</h2>
                                    <ul class="products columns-2">
                                        <li class="product style-2">
                                            <div class="product-container">
                                                <figure>
                                                    <div class="product-wrap">
                                                        <div class="product-images">
                                                            <div class="shop-loop-thumbnail shop-loop-front-thumbnail">
                                                                <a href="shop-detail-1.html"><img width="450" height="450" src="images/products/product_328x328.jpg" alt=""/></a>
                                                            </div>
                                                            <div class="shop-loop-thumbnail shop-loop-back-thumbnail">
                                                                <a href="shop-detail-1.html"><img width="450" height="450" src="images/products/product_328x328alt.jpg" alt=""/></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <figcaption>
                                                        <div class="shop-loop-product-info">
                                                            <div class="info-meta clearfix">
                                                                <div class="star-rating">
                                                                    <span style="width:100%"></span>
                                                                </div>
                                                                <div class="loop-add-to-wishlist">
                                                                    <div class="yith-wcwl-add-to-wishlist">
                                                                        <div class="yith-wcwl-add-button">
                                                                            <a href="#" class="add_to_wishlist">
                                                                                Add to Wishlist
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="info-content-wrap">
                                                                <h3 class="product_title">
                                                                    <a href="shop-detail-1.html">Florence Knoll Credenza</a>
                                                                </h3>
                                                                <div class="info-price">
																			<span class="price">
																				<span class="amount">£17.50</span>
																			</span>
                                                                </div>
                                                                <div class="loop-action">
                                                                    <div class="loop-add-to-cart">
                                                                        <a href="#" class="add_to_cart_button">
                                                                            Add to cart
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </li>
                                        <li class="product style-2">
                                            <div class="product-container">
                                                <figure>
                                                    <div class="product-wrap">
                                                        <div class="product-images">
                                                            <div class="shop-loop-thumbnail shop-loop-front-thumbnail">
                                                                <a href="shop-detail-1.html"><img width="450" height="450" src="images/products/product_328x328.jpg" alt=""/></a>
                                                            </div>
                                                            <div class="shop-loop-thumbnail shop-loop-back-thumbnail">
                                                                <a href="shop-detail-1.html"><img width="450" height="450" src="images/products/product_328x328alt.jpg" alt=""/></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <figcaption>
                                                        <div class="shop-loop-product-info">
                                                            <div class="info-meta clearfix">
                                                                <div class="star-rating">
                                                                    <span style="width:100%"></span>
                                                                </div>
                                                                <div class="loop-add-to-wishlist">
                                                                    <div class="yith-wcwl-add-to-wishlist">
                                                                        <div class="yith-wcwl-add-button">
                                                                            <a href="#" class="add_to_wishlist">
                                                                                Add to Wishlist
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="info-content-wrap">
                                                                <h3 class="product_title">
                                                                    <a href="shop-detail-1.html">Citterio Grand Repos</a>
                                                                </h3>
                                                                <div class="info-price">
																			<span class="price">
																				<span class="amount">£12.00</span>
																				–
																				<span class="amount">£20.00</span>
																			</span>
                                                                </div>
                                                                <div class="loop-action">
                                                                    <div class="loop-add-to-cart">
                                                                        <a href="#" class="add_to_cart_button">
                                                                            Add to cart
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}