{%  extends 'backend/base.html.twig' %}



{#{% block title %}#}
    {#<a href="index.html" class="waves-effect"><i class="mdi mdi-view-dashboard"></i> <span> Liste des employés </span> </a>#}

{#{% endblock %}#}
{% block subtitle %}
    <h4 class="page-title">Ajouter un Depot</h4>
{% endblock %}


    {% block content %}

        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">






                    {{ form_start(form, {'attr': {'id': 'myform'}}) }}
                    {{ form_errors(form) }}


                    <div class="row">
                        <div class="form-group col col-md-6">
                            <label>Adresse</label>
                            {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                        </div>
                            <div class="form-group col col-md-6">
                            <label>Surface</label>
                            {{ form_widget(form.surface, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group col col-md-6">
                            <label>Prix</label>
                            {{ form_widget(form.prix, {'attr': {'class': 'form-control' }}) }}

                        </div>
                        <div class="form-group col col-md-6">
                            <label>Etat</label>
                            {{ form_widget(form.etat, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group col col-md-12 text-center">
                            <button class="btn btn-success" style="float: center">Ajouter</button>
                        </div>





                    </div>

                    {{ form_end(form) }}

                    <!-- end row -->









                </div> <!-- container -->

            </div> <!-- content -->

            <footer class="footer text-right">
                2016 - 2018 © Adminto. Coderthemes.com
            </footer>

        </div>
    {% endblock %}
{#{% block javascripts %}#}
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>#}
    {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>#}
    {#<script>#}
        {#// just for the demos, avoids form submit#}
        {#$(document).ready(function () {#}

            {#$( "#myform" ).validate({#}
                {#rules: {#}
                    {#"form[CIN]": {#}
                        {#required: true,#}
                        {#max: 8,#}
                        {#min: 8#}
                    {#}#}
                {#},#}
                {#messages: {#}
                    {#"form[CIN]": "CIN doit etre 8 chiffres",#}
                {#}#}
            {#});#}

        {#});#}

    {#</script>#}
{#{% endblock %}#}
